<!DOCTYPE html>
<html lang="en">
	<head>
		<title>File Clerk</title>

		<meta charset="utf-8">
		<meta name="author" content="Alex Clink"/>
		<meta name="author site" content="http://alexclink.com"/>
		<meta name="description" content="File browser">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		
		<link rel="stylesheet" href="/style/style.css" type="text/css" title="no title" charset="utf-8">

		<script src="/script/main.js" type="text/javascript" charset="utf-8"></script>
		
		<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		
	</head>
	<body>
		
		<div id="main">
			<%= yield %>
		</div>
		
	</body>
</html>