<h1>Please log in to continue</h1>
<form action="/users/login" method="POST">
	<label>Name: <input type="text" name="user[name]" /></label>
	<label>password: <input type="password" name="user[password]" /></label>
	<input type="submit" value="Log in">
</form>